version: '3'

services:
  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgre
      - POSTGRES_PASSWORD=stkygre4
      - POSTGRES_DB=weatherdb
    ports:
      - "5434:5432"

  airflow-webserver:
    image: .
    command: webserver
    env_file: .env                                 
    environment:
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgre:stkygre4@postgres:5432/weatherdb  # Masukkan string tadi di sini
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor  
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__SECRET_KEY=kunci123
    volumes:
      - ./dags:/opt/airflow/dags    
      - ./src:/opt/airflow/src
      - ./data:/opt/airflow/data
      - ./logs:/opt/airflow/logs
      - ./sql:/opt/airflow/sql
      - ./postgres_data:/var/lib/postgresql/data                            
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  airflow-scheduler:
    image: .
    command: scheduler
    env_file: .env                                      
    environment:
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgre:stkygre4@postgres:5432/weatherdb  
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor  
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__SECRET_KEY=kunci123
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - ./data:/opt/airflow/data
      - ./logs:/opt/airflow/logs
      - ./sql:/opt/airflow/sql
      - ./postgres_data:/var/lib/postgresql/data
    depends_on:
      - postgres
